:root{
    --pr-choco:#902109;
}
.navbar{
    background: var(--pr-choco)
    

}

.nav-link{
    color:rgb(255, 255, 255) !important;
}
.search{
    background: rgba(255, 230, 230, 0.7);
    width: 50vw;
    color: white;
    border: none;
}
.search:focus{
    outline: none;
    
    color: var(--pr-choco);
}
.search::placeholder{
    color: whitesmoke;
}
.dropdown-item{
    transition: all 1s;
    width: 200px;
}

.dropdown-item:hover{
    background: var(--pr-choco);
    color: whitesmoke;
    letter-spacing: 5px;
    filter: drop-shadow(2px 2px 5px rgb(15, 15, 15));
    scale: 1.1;
    font-weight: 700;
}