:root{
    --fg-color:#ffffff;
    --bg-color:#7debf5;
    --pr-purple:#2100c4;

}
body{
    background-color: var(--bg-color);
    color: var(--fg-color);
}

.cust-logo{
    width: 45px;
}
div.cust-container{
    background: white;
    color:black; 
    padding: 10px;
    /* filter: drop-shadow(2px 2px 5px black); */
    /* border-radius: 10px; */
}

.navbar-collapse{ 
    text-align: right;
}

.navbar .nav-link{ 
    font-weight: 700;
    transition: all 0.5s;
    color: var(--pr-purple) !important;

}

.navbar .nav-link:hover{
    border-left: 5px var(--pr-purple) solid;
    border-top-left-radius: 5px;
    /* padding: 5px; */
    letter-spacing: 2px;
    color: black !important;
    font-weight: 900;

    
}
.logo-name{
    font-weight: 800;
    color: var(--pr-purple);
    font-size: 30px;
}

.card-img-top{
    width: 200px;
    filter: drop-shadow(3px 3px 3px black);
    transition: 0.5s;
}

.card-img-top:hover{
    scale: 1.2;
}